@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html,body{
    height: 100%;
    width: 100%;
}
.name{
    color:rgb(243, 239, 239);
}
ul li a{
    font-size: 18px;
    color: lightgrey;
}
ul li a:hover{
    color: whitesmoke;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px;
    background-color:transparent;
    color: black;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 1000;
  }
  
  header.scrolled {
    background-color: white;
    
  }
  header.scrolled .name{
    color:rgb(102, 101, 101);
  }
  header.scrolled ul li a {
    color:rgb(102, 101, 101);
    /* font-size: 16px; */
}

header.scrolled ul li a:hover {
    color: black;
    font-weight: 500;
}
.bcg{
    width: 100vw;
    height: 70vh;
    background: url('images/bcg-img.jpg');
    /* background-color: red; */
    background-size: cover;
}

  



